<nav class="navbar-container">

    <div>
        <a href="/">
            <h2>meet<strong>code</strong></h2>
        </a>
    </div>

    <div class="search-container">
        <form method="GET"action="{% url 'home' %}">
            <input class="main-search" type="text" name="q" placeholder="Search...">
        </form>
    </div>

    <div class="user-container">
        {% if request.user.is_authenticated %}
        <span>@ {{user.username.capitalize}} | </span>
        <a href="{% url 'user-profile' user.id %}">Profile |</a>  
        <a href="{% url 'user-logout' %}">Log Out</a>
        {% else %}
        <a href="{% url 'user-login' %}">Login</a>
        {% endif %}
    </div>

</nav>

