* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #666;
}


.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.search-container {
    padding: .5rem 2rem;
}

.main-search {
    padding: .5rem 1rem;
    width: 250px;
    outline: none;
}

.user-container {
    padding: .5rem 1rem;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 3rem;
    gap: 2rem;
    height: 100vh;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
}

.result-header-container {
    display: flex;
    justify-content: space-between;
    color: #fff;
    border: none;
    background-color: #666;
    padding: 1rem 2rem;
}

.result-container {
    border: none;
    background-color: #efefef;
    padding: .5rem 1rem;
}

.result-content-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.result-sub-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-title {
    font-size: 18px;
    font-weight: 600;
}

.result-author {
    font-size: 14px;
}

.result-category {
    font-size: 14px;
    color: #222;
    background-color: #ccc;
    padding: .5rem 1rem;
}

.result-modify-container {
    display: flex;
    gap: .5rem;
}

.modify-item {
    color: #fff;
    background-color: #666;
    padding: .25rem .5rem;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
}

.new-post-container {
    padding-top: 0;
}

.new-post {
    text-decoration: none;
    color: #222;
    background-color: #fff;
    padding: .5rem 1rem;
}

.category-container {
    background-color: #efefef;
    padding: 1rem;
}

.activity-container {
    background-color: #efefef;
    padding:1rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
    height: 100vh;
}

.create-post-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
    height: 100vh;
}

.board-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding: 3rem 0;
    height: 100vh;
}

.board-content-container {
    padding: 0 3rem;
}

.board-member-container {
    padding: 0 3rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem;
}

.footer-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem 3rem;
}