{% extends 'layout.html' %}
{% load humanize %}

{% block content %}

<div class="main-container">
    
    <div class="left-sidebar">
        <div class="new-post-container">
            <a class="new-post" href="{% url 'new-board' %}">+ Create Post</a>
        </div>

        <div class="category-container">
            <h2>Categories</h2>
            <a href="{% url 'home' %}">Any</a>
            {% for category in categories %}
                <div>
                    <a href="{% url 'home' %}?q={{category.name}}">{{category.name}}</a>
                </div>
            {% endfor %}
        </div>

        <div class="category-container">
            <h2>Cities</h2>
            {% for board in cities %}
                <div>
                    <a href="{% url 'home' %}?q={{board.city}}">{{board.city.title}}</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="content-container">
        <div>
          <span><strong>Choose From:</strong> {{board_count}} Posts</span>
          <hr>
        </div>
        {% for board in board_list %}
            <div>
                <h5>{{board.category}}</h5>
                <h4><a href="{% url 'board' board.id %}">{{board.name}}</a></h4>
                <span><small>Posted by @ {{board.author.username.title}} from {{board.city.title}}, {{board.state.upper}}</small></span>
                <span><small>- {{board.created}} </small></span>
                <a href="{% url 'edit-board' board.id %}">Edit</a>
                <a href="{% url 'remove-board' board.id %}">Delete</a>
                <hr>
            </div>
        {% endfor %}
    </div>

    <div class="right-sidebar">
        <div class="recent-container">
            Recent Activity
            (List all boards you are a member of)
         </div>
         <hr>
        <div class="suggested-container">
            Suggested Boards
            (List boards from your same city)
         </div>
    </div>

</div>

{% endblock content %}