{% extends 'layout.html' %}

{% block content %}


<div class="main-container">

    <div class="left-sidebar">
        <div class="category-container">
            {% include 'base/category_module.html' %}
        </div>

        <div class="category-container">
            {% include 'base/cities_module.html' %}
        </div>
    </div>

    <div class="content-container">
        <h2>@ {{user.username}}</h2>
        {% include 'base/results_module.html' %}
    </div>

    <div class="right-sidebar">
        <div class="activity-container">  
            {% include 'base/activity_module.html' %}
        </div>
    </div>

</div>

{% endblock content %}